{% extends "base_email.html.twig" %}

{% block content %}
    <h3>{{ subject }}</h3>
    <p>{{ explanation }}:<br>
    <a href="{{ urlToResetPassword }}">{% trans %}email.password.reset.link{% endtrans %}</a></p>
{% endblock %}
