$icomoon-font-family: 'app' !default;
$icomoon-font-path: '../fonts' !default;

$icon-stop: '\ea17';
$icon-quill: '\e900';
$icon-keyboard: '\e955';
$icon-key: '\e98d';
$icon-envelop: '\e945';
$icon-location2: '\e948';
$icon-spinner5: '\e97e';
$icon-spinner9: '\e982';
$icon-spinner10: '\e983';
$icon-cogs: '\e995';
$icon-magic-wand: '\e997';
$icon-gift: '\e99f';
$icon-bin: '\e9ac';
$icon-earth: '\e9ca';
$icon-user: '\e971';
$icon-user-check: '\e975';
$icon-equalizer: '\e992';
$icon-rocket: '\e9a5';
$icon-briefcase: '\e9ae';
$icon-star-empty: '\e9d7';
$icon-star-full: '\e9d9';
$icon-clipboard: '\e9b8';
$icon-download3: '\e9c7';
$icon-cloud: '\e901';
$icon-home: '\f015';
$icon-calendar: '\f073';
$icon-soundcloud: '\f1be';
$icon-map-pin: '\f276';
$icon-grav: '\f2d6';
$icon-home1: '\e902';
$icon-calendar1: '\e903';
$icon-toggle-on: '\f205';
$icon-calendar2: '\e904';
$icon-envelope-open-o: '\f2b7';
$icon-edit: '\f044';
$icon-pencil-square-o: '\f044';

