// Import Bulma's core variables
/* stylelint-disable */
@import '~bulma/sass/utilities/_all';
/* stylelint-enable */

// Assets

// Set custom colors
/*
$primary: #fc2140;
$primary-invert: findColorInvert($primary);
$secondary: #2e008b;
$secondary-invert: findColorInvert($secondary);
*/
$primary: #4005AE;
$primary-invert: findColorInvert($primary);
$primary_2: #053AAD;
$primary-2-invert: findColorInvert($primary_2);
$primary_3: #AD05AA;
$primary-3-invert: findColorInvert($primary_3);

/* Alternative color for the primary one */
$gradient_1: #4800D9;
$gradient_1-invert: findColorInvert($gradient_1);
$gradient_2: #004bed;
$gradient_2-invert: findColorInvert($gradient_2);
$gradient_3: #C406C1;
$gradient_3-invert: findColorInvert($gradient_3);

$secondary: #FC7121;
$secondary-invert: findColorInvert($secondary);
$light_blue: #eef6fc;
$warning: #ffdd57;
$danger: #fc2140;

$link: #00C2ED;
$link-invert: findColorInvert($link);

/* Black alternative */
$black_shade_1: #121212;
$black_shade_2: #242424;
$black_shade_3: #373737;
$black_shade_4: #494949;

$button_danger: #fc2140;
$button_validation: #72AD05;
$button_normal: #0642C4;
$button_warning: #ffdd57;

$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': (
    $white,
    $black,
  ),
  'black': (
    $black,
    $white,
  ),
  'light': (
    $light,
    $light-invert,
  ),
  'dark': (
    $dark,
    $dark-invert,
  ),
  'primary': (
    $primary,
    $primary-invert,
  ),
  'primary_2': (
    $primary_2,
    $primary_2-invert,
  ),
  'primary_3': (
    $primary_3,
    $primary_3-invert,
  ),
  'gradient_1':(
    $gradient_1,
    $gradient_1-invert,
  ),
  'gradient_2':(
    $gradient_2,
    $gradient_2-invert,
  ),
  'gradient_3':(
    $gradient_3,
    $gradient_3-invert,
  ),
  'secondary': (
    $secondary,
    $secondary-invert,
  ),
  'info': (
    $info,
    $info-invert,
  ),
  'link':(
    $link,
    $link-invert,
  ),
  'success': (
    $success,
    $success-invert,
  ),
  'warning': (
    $warning,
    $warning-invert,
  ),
  'danger': (
    $danger,
    $danger-invert,
  ),
  'twitter': (
    $twitter,
    $twitter-invert,
  ),
  'black_shade1':(
    $black_shade_1,
    $white,
  ),
  'black_shade2':(
    $black_shade_2,
    $white,
  ),
  'black_shade3':(
    $black_shade_3,
    $white,
  ),
  'black_shade4':(
    $black_shade_4,
    $white,
  ),
  'btn_validation':(
    $button_validation,
    $white,
  ),
  'btn_normal':(
    $button_normal,
    $white
  ),
);
