
name: Docker Image CI

on:
  pull_request:
  push:
    branches:
      - main
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        variant: ['debian', 'alpine']

    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2

      - name: Execute CI build hooks
        id: docker_build
        run: |
          # Export variables to tag against GitHub Container Registry
          #export DOCKER_REGISTRY=ghcr.io
          #export DOCKER_REPO=${{ github.repository }}
          export EXPORT_TESTS_RESULTS=true
          ./hooks/run build ${{ matrix.variant }} 'fpm'

      - name: Display docker images
        run: docker images

      - name: Execute CI test hooks
        id: docker_test
        run: |
          export EXPORT_TESTS_RESULTS=true
          ./hooks/run test ${{ matrix.variant }} 'fpm'
          ls -al ./coverage

      - name: Codacy Coverage Reporter
        uses: codacy/codacy-coverage-reporter-action@0.2.0
        continue-on-error: true
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./coverage/coverage-phpunit-cobertura.xml

      #- name: Execute CI push hooks
      #  id: docker_push
      #  run: |
      #    # Export variables to login and push to GitHub Container Registry
      #    #export DOCKER_REGISTRY=ghcr.io
      #    #export DOCKER_LOGIN=${{ github.repository_owner }}
      #    #export DOCKER_PASSWORD=${{ secrets.GITHUB_REGISTRY_TOKEN }}
      #    ./hooks/run push ${{ matrix.variant }} 'fpm'
